* {
  box-sizing: border-box;
}

div.gameCard {
    /*display: inline-block;*/
    text-align: left;
    width: 85%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-top: 10px;
    /*box-shadow: #EEEEEE;*/
    /*border: #555555;*/
    display: block;
    border-width: 2px;
    border-style: solid;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);;
}

.flex-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 0 0.5%;
}
#single-card{
    max-width: 50%;
}

.flex-card {
  background-color: #f1f1f1;
  padding: 5px;
  flex: 50%;
  margin: 0.5% 1%;
  box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.25), -2px 4px 2px rgba(0, 0, 0, 0.25);
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 900px) {
    .flex-container {
        flex-direction: column;
    }

    .flex-card {
        margin: 1.5% 2%;
    }

    #single-card{
        max-width: 100%;
    }
}

.card-left{
    width: 33%;
    /*border: #282c34 1px;*/
    /*border-style: solid;*/
    float: left
}

.card-right{
    width: 63%;
    /*border: #282c34 1px;*/
    /*border-style: solid;*/
    padding-left: 5%;
    float: left
}

img.coverArt{
    max-width: 100%;
}

h1.gameTitle{
    text-align: center;
    font-size: large;
}

.left-desc{
    text-align: left;
    font-size: small;
    margin: 1.5% auto;
}

.right-side-desc{
    text-align: left;
    font-size: medium;
    margin: auto 2%;
    padding-left: 1%;
}

.large-num{
    font-size: x-large;
    margin: 2% auto;
    font-weight: bold;
}

.bar-container {
    margin: 3% auto;
    padding: 2px;
    width: 80%;
    max-width: 500px;
    border: 1px solid #555555;
    height: 30px;
}

.bar-container .bar {
    height: 100%;
    text-align: right;
    padding-right: 5%;
    font-size: large;
}

.price-bar-right {
    margin: 3% auto;
    padding: 0px;
    width: 80%;
    max-width: 500px;
    border: 1px solid #555555;
    background-color: #9DCC89;
    height: 30px;
}

.price-bar-right .price-bar-left {
    height: 100%;
    text-align: right;
    padding-right: 2%;
    font-size: small;
}

.price-bar-labels-container{
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
}

.price-bar-label{
    flex:50%;
    font-size: small;
}

.platform-container{
    width: 80%;
    margin: auto 10%;
}

.series-games-container{
    width: 80%;
    text-align: left;
    padding-left: 10%;
}