#searchArea{
    font-family: system-ui;
    text-align: center;
}

.dropdownContainer {
    display: inline-block;
    margin-bottom: 23px;
    width: 70%;
}

#searchDropdownContent{
    position: absolute;
    background-color: #f6f6f6;
    width:70%;
    border: 1px solid #EEEEEE;
    z-index: 1;
    box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.1), -4px 6px 4px rgba(0, 0, 0, 0.1);
    max-height: 500px;
    overflow-x: visible;
    overflow-y: auto;
}

#searchDropdownContent input, #searchDropdownContent button{
    padding: 10px 5px;
    background-color: white;
    width: 99%
}

#searchDropdownContent input{
    min-height: 30px;
    padding:0;
    margin:2px;
}

#searchDropdownContent button{
    margin:0;
    border: none;
    text-align: left;
}

#searchDropdownContent button:hover{
    background-color: #EEEEEE;
}

.clearBtn{
    display: inline-block;
    margin-left: 20px;
    padding: 10px 5px;
}